
#stacks_in_109 {
	padding:  10px;
}

#stacks_in_105 {
	padding:  10px;
}

#stacks_in_103 {
	padding:  10px;
}
#stacks_in_120>.s3_row {
	margin: 0 -2px;
}

#stacks_in_120>.s3_row>.s3_column_left {
	width: 25.02%;
}

#stacks_in_120>.s3_row>.s3_column_center {
	width: 49.949997%;
}

#stacks_in_120>.s3_row>.s3_column_right {
	width: 25.03%;
}

#stacks_in_120>.s3_row>.s3_column {
	padding: 0 2px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_120>.s3_row  {
		margin: -2px 0;
	}
	#stacks_in_120>.s3_row>.s3_column {
		padding: 2px 0;
		width:100%;
	}


}




#stacks_in_120 {
	padding:  10px;
}
