
#stacks_in_78 {
	padding:  10px;
}
#stacks_in_28>.s3_row {
	margin: 0 -10px;
}

#stacks_in_28>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_28>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_28>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_28>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_28>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_28 {
	padding:  10px;
}
#stacks_in_72>.s3_row {
	margin: 0 -10px;
}

#stacks_in_72>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_72>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_72>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_72>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_72>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_72 {
	padding:  10px;
}

#stacks_in_58 {
	margin:  1px;
}
@font-face{font-family:"Ionicons";src:url("ionicons/ionicons.eot?v=4.5.9-1");src:url("ionicons/ionicons.eot?v=4.5.9-1#iefix") format("embedded-opentype"),url("ionicons/ionicons.woff2?v=4.5.9-1") format("woff2"),url("ionicons/ionicons.woff?v=4.5.9-1") format("woff"),url("ionicons/ionicons.ttf?v=4.5.9-1") format("truetype"),url("ionicons/ionicons.svg?v=4.5.9-1#Ionicons") format("svg");font-weight:normal;font-style:normal}
#stacks_in_84_press.press-lite {
  box-sizing: border-box;
  position: relative;
  /*  */
  cursor: pointer;
  /*  */
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  /*  */
  /*  */
  background-color: rgba(18, 101, 253, 1.00);
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
}
#stacks_in_84_press.press-lite:focus {outline:0;}
#stacks_in_84_press_wrap {
  /*  */
  /*  */
  display: flex;
  justify-content: center;
  /*  */
  /*  */
  margin: 12px 0px 12px 0px;
}
#stacks_in_84_press.press-lite {
  white-space: nowrap;
}
#stacks_in_84_press.press-lite .press-lite-text span,
#stacks_in_84_press.press-lite .press-lite-text:after {
  overflow: hidden;
  color: rgba(255, 255, 255, 1.00);
  /*  */
}
#stacks_in_84_press.press-lite,
#stacks_in_84_press.press-lite .press-lite-text,
#stacks_in_84_press.press-lite .press-lite-text:after,
#stacks_in_84_press.press-lite .press-lite-text > span,
#stacks_in_84_press.press-lite .press-lite-icon i,
#stacks_in_84_press.press-lite .press-lite-icon img,
#stacks_in_84_press.press-lite .press-lite-icon svg,
#stacks_in_84_press.press-lite .press-lite-icon svg path,
#stacks_in_84_press.press-lite .press-lite-icon svg polyline,
#stacks_in_84_press.press-lite .press-lite-icon:after {
    transition: all 200ms ease;
}
#stacks_in_84_press.press-lite .press-lite-text {
  z-index: 1;
  position: relative;
}
#stacks_in_84_press.press-lite .press-lite-icon i,
#stacks_in_84_press.press-lite .press-lite-icon img {
  position: relative;
  color: rgba(51, 51, 51, 1.00);
  display: inline-block;
  /*  */
  margin-right: 8px;
  /*  */
  font-size: 16px;
  line-height: 16px;
  z-index: 1;
}
#stacks_in_84_press.press-lite .press-lite-icon img {
  height: 16px;
  width: auto;
  vertical-align: top;
}
#stacks_in_84_press.press-lite .press-lite-icon svg {
  display: inline-block;
  /*  */
  margin-right: 8px;
  /*  */
  height: 20.000000px;
  z-index: 1;
}
/*  */
#stacks_in_84_press.press-lite .press-lite-icon {
  float: right;
  margin-top: 0px;
}
#stacks_in_84_press.press-lite .press-lite-icon i,
#stacks_in_84_press.press-lite .press-lite-icon img,
#stacks_in_84_press.press-lite .press-lite-icon svg {
  /*  */
  margin-right: 0px;
  margin-left: 8px;
  /*  */
}
/*  */
#stacks_in_84_press.press-lite .press-lite-icon.press-lite-icon-off svg {
  transform: translateX(5%);
}
#stacks_in_84_press.press-lite .press-lite-icon svg path {
  fill: rgba(51, 51, 51, 1.00);
}
#stacks_in_84_press.press-lite .press-lite-icon svg polyline {
  fill:none;
  stroke: rgba(51, 51, 51, 1.00);
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:48px;
}
#stacks_in_84_press.press-lite:active,
#stacks_in_84_press.press-lite:focus {
  transform: translate(0,0);
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
#stacks_in_84_press.press-lite:active {
  box-shadow: inset 0px 0px 0px 300px rgba(0,0,0,0.1);
}
/*  */
#stacks_in_84_press.press-lite .press-lite-lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: grid;
}
#stacks_in_84_press.press-lite .press-lite-line-t,
#stacks_in_84_press.press-lite .press-lite-line-b {
  position: absolute;
  height: 1px;
  width: 0%;
  background: rgba(0, 0, 0, 1.00);
  transition: all 200ms ease;
}
#stacks_in_84_press.press-lite .press-lite-line-l,
#stacks_in_84_press.press-lite .press-lite-line-r {
  position: absolute;
  width: 1px;
  height: 0%;
  background: rgba(0, 0, 0, 1.00);
  transition: all 200ms ease;
}
#stacks_in_84_press.press-lite .press-lite-line-t {
  top: 0;
}
#stacks_in_84_press.press-lite .press-lite-line-b {
  bottom: 0;
  width: 100%;
}
#stacks_in_84_press.press-lite .press-lite-line-l {
  left: 0;
}
#stacks_in_84_press.press-lite .press-lite-line-r {
  right: 0;
}
/*  */
/*  */
/*  */
/*  */
